<meta charset="UTF-8">
<h1> Anos de Copa </h1>
<script>

	function separa_linha() {
		document.write("<br>");
	}

	function escreve(texto) {
		document.write(texto);
		separa_linha()
	}
	
	var anoLimite = parseInt (prompt ("Digite uma data limite: "));
	
	for (var primeiroAno = 1930; primeiroAno <= anoLimite; primeiroAno = primeiroAno+4) {
	   if ((primeiroAno != 1942) && (primeiroAno != 1946)) {
	      escreve (primeiroAno + " é ano de copa! :)");
	   } else {
	 	escreve(primeiroAno + " Não teve copa");
	     }
	}
	
</script>
