<meta charset="utf-8">
<h1> Pontos de Futebol </h1>

<script>

  function separa_linha(){
    document.write("<hr>");
  }

  function print(texto){
    document.write(texto);
    separa_linha();
  }

  function calculoPontos (vitorias, empates){
    return ((vitorias*3) + (empates*1));
  }

  var qtdade_empate_1 = parseInt (prompt ("Digite a quantidade de empates do time 1: "));
  var qtdade_vitorias_1 = parseInt (prompt ("Digite a quantidade de vitorias do time 1: "));
  var qtdade_empate_2 = parseInt (prompt ("Digite a quantidade de empates do time 2: "));
  var qtdade_vitorias_2 = parseInt (prompt ("Digite a quantidade de vitorias do time 2: "));

  print ("Time 1 tem: " + calculoPontos (qtdade_vitorias_1, qtdade_empate_1)+ " pontos");
  print ("Time 2 tem: " + calculoPontos (qtdade_vitorias_2,qtdade_empate_2)+ " pontos");
  if ((calculoPontos (qtdade_vitorias_1, qtdade_empate_1)) > (calculoPontos (qtdade_vitorias_2,qtdade_empate_2))) {
    print ("Time um esta ganhando");
  } else if ((calculoPontos (qtdade_vitorias_1, qtdade_empate_1)) < (calculoPontos (qtdade_vitorias_2,qtdade_empate_2))) {
    print ("Time dois esta ganhando");
    } else if ((calculoPontos (qtdade_vitorias_1, qtdade_empate_1)) == (calculoPontos (qtdade_vitorias_2,qtdade_empate_2))) {
      print ("Há empate");
      }

</script>
