<meta charset="UTF-8">
<h3> Calculo de tempo de vida e batimentos cardíacos </h3>
<script>
   function separa_linha(){
	document.write("<hr>");
   }

   function print(texto){
	document.write(texto);
	separa_linha();
   }

   function calcular_dias_vividos(idade){
	return idade*365;
   }

   function calcular_batimentos(dias){
	var calculo_batimentos = dias * 24 * 60 * 80;
	return calculo_batimentos;
   }

   var idade1=prompt("Digite a primeira idade: ");
   var dias1=calcular_dias_vividos(idade1);
   print("Quem tem " + idade1 + " ,já viveu " + dias1 + " dias. A média, por minuto, de batimentos cardíacos do período de vida é de: " + calcular_batimentos(dias1));

   var idade2 = prompt("Digite a segunda idade: ");
   var dias2 =calcular_dias_vividos(idade2);
   print("Quem tem " + idade2 + " já viveu " + dias2 + " dias. A média, por minuto, de batimentos cardíacos do período de vida é de: " + calcular_batimentos(dias2));

   var idade3 = prompt("Digite a terceira idade: ");
   var dias3 =calcular_dias_vividos(idade3);
   print("Quem tem " + idade3 + " já viveu " + dias3 + " dias. A média, por minuto, de batimentos cardíacos do período de vida é de: " + calcular_batimentos(dias3));
   
</script>
