<meta charset="UTF-8">
<h1> Cálculo Idade </h1>
<script>
	function separa_linha() {
		document.write("<br>");
	}

	function escreve(variavel) {
		document.write("Você tem "+ variavel + " anos.");
		separa_linha();
	}

	function escreveParabens(variavel) {
		document.write("Parabéns, hoje é seu aniversário! Você tem "+ variavel + " anos.");
		separa_linha();
	}

	function calculoAnoParcial (anoF, anoI) {
		return (anoF - anoI)-1;
	}

	function calculoFinal (anoF, anoI) {
		return (anoF - anoI);
	}
	
	var inputDiaI = parseInt (prompt ("Digite o dia de seu nascimento: "));
	var inputMesI = parseInt (prompt ("Digite o mês de seu nascimento: "));
	var inputAnoI = parseInt (prompt ("Digite o ano de seu nascimento: "));
	var inputDiaAtual = parseInt (prompt ("Digite o dia atual: "));
	var inputMesAtual = parseInt (prompt ("Digite o mês atual: "));
	var inputAnoAtual = parseInt (prompt ("Digite o ano atual: "));

	if ((inputMesAtual < inputMesI) || (inputMesAtual == inputMesI && inputDiaAtual < inputDiaI)) {
		escreve (calculoAnoParcial(inputAnoAtual,inputAnoI));
	} else if ((inputMesAtual == inputMesI) && (inputDiaAtual == inputDiaI)) {
		escreveParabens (calculoFinal(inputAnoAtual,inputAnoI));
	  } else {
		escreve (calculoFinal(inputAnoAtual,inputAnoI));
	    }
</script>
