<meta charset="UTF-8"> 
<h3> Álcool ou Gasolina </h3>
<script>

   //Gasolina
   var tanque = prompt("Capacidade do tanque:");
   var caminhoDeGasolina= prompt("Km percorrida com gasolina:");
   var consumoDeGasolina= caminhoDeGasolina/tanque;
   var precoG= prompt("Preço do Litro da Gasolina:");

   document.write("O Consumo de Gasolina é de:  "+ consumoDeGasolina.toFixed(2) + "  Km/l <br><br>");
      
   //Álcool
   var caminhoDeAlcool= prompt("Km percorrida com Álcool:");
   var consumoDeAlcool=caminhoDeAlcool/tanque;
   var precoA=prompt("Preço do Litro do Alcool:");

   document.write("O Consumo de Alcool é de:  "+ consumoDeAlcool.toFixed(2) + "  Km/l <br><br>");

   //Preço por km
   document.write("O Preço da Gasolina por km é de:  " + (precoG/consumoDeGasolina).toFixed(2) +"<br>");
   document.write("O Preço do Álcool por km é de:  " + (precoA/consumoDeAlcool).toFixed(2) +"<br>");

</script>
