<meta charset="UTF-8"> 
<h3> Álcool ou Gasolina </h3>
<script>

   function separa_linha(){
	document.write("<hr>");
   }

   function print(texto){
	document.write(texto);
	separa_linha()
   }

   function consumo(km,tanque){
	var consumo_combustivel=km/tanque;
   	return consumo_combustivel;
   }

   function preco(preco,consumo){
	var preco_consumo = preco/consumo;
   	return preco_consumo;
   }

   var km_gasolina=prompt("Distancia percorrida com gasolina:");
   var tanque=prompt("Capacidade do tanque:");
   var gasolina=consumo(km_gasolina,tanque);
   print("O Consumo de Gasolina é de:  " + gasolina.toFixed(2));
    
   var km_alcool=prompt ("Distancia percorrida com alcool:");
   var alcool=consumo(km_alcool,tanque);
   print("O Consumo de Alcool é de:  "+ alcool.toFixed(2));

   var valor_gasolina = prompt("Digite o preco da gasolina:");
   var preco_final_gasolina = preco(valor_gasolina,gasolina);
   print ("O Preço da Gasolina por km é de:  " + preco_final_gasolina.toFixed(2));

   var valor_alcool = prompt("Digite o preco do Alcool:");
   var preco_final_alcool = preco(valor_alcool,alcool);
   print ("O Preço do Alcool por km é de:  " + preco_final_alcool.toFixed(2));
   
</script>
