<meta charset="UTF-8">
<h3> Conversão Celsius/Far </h3>
<script>
   function separa_linha(){
	document.write("<hr>");
   }

   function print(texto){
	document.write(texto);
	separa_linha();
   }

   function conversao(temperatura){
	var tempF = (temperatura * 1.8) + 32;
	return tempF;
   }

   var temperatura_ontem=prompt("Digite a temperatura de ontem em Celsius: ");
   var conv_tempF_ontem = conversao(temperatura_ontem);
   
   var temperatura_hoje=prompt("Digite a temperatura de hoje em Celsius: ");
   var conv_tempF_hoje = conversao(temperatura_hoje);

   var temperatura_amanha=prompt("Digite a temperatura de amanhã em Celsius: ");
   var conv_tempF_amanha = conversao(temperatura_amanha);

   print(("Ontem : ".replace(":","=")) + conv_tempF_ontem.toFixed(2) + 
	(" Fahrenheit. Hoje : ".replace(":","=")) + conv_tempF_hoje.toFixed(2)) + 
	(" Fahrenheit. A diferença de Temperatura entre ontem e hoje foi de : ".replace(":","=")) 
	+ ((conv_tempF_ontem - 		conv_tempF_hoje).toFixed(2));


   print("Hoje : "+ conv_tempF_hoje.toFixed(2) + " Fahrenheit. Amanhã : " + conv_tempF_amanha.toFixed(2) + " Fahrenheit. A diferença de Temperatura entre hoje e amanhã será de : " + ((conv_tempF_hoje - conv_tempF_amanha).toFixed(2)));
</script>
