<meta charset="UTF-8">
<h2>Cadastro de Academia</h2>
<script>

   function separa_linha() {
	document.write ("<br>");
   }

   function traco() {
	document.write ("<hr>");
   }

   function escreve(texto) {
	document.write (texto);
	separa_linha ();
   }

   function info(nome,peso,altura) {
	var imc=peso/(altura*altura);
	escreve("Nome: " + nome);
	escreve("Peso: " + peso);
	escreve("Altura: " + altura);
	escreve("IMC:" + imc.toFixed(2));
	traco();
   }

   var nome1=prompt ("Nome da Pessoa 1");
   var peso1=prompt ("Peso da Pessoa 1");
   var altura1=prompt ("Altura da Pessoa 1");
   info(nome1,peso1, altura1);
 
   var nome2 = prompt ("Nome da Pessoa 2");
   var peso2 = prompt ("Peso da Pessoa 2");
   var altura2 = prompt ("Altura da Pessoa 2");
   info(nome2,peso2,altura2);

   var nome3 = prompt ("Nome da Pessoa 3");
   var peso3 = prompt ("Peso da Pessoa 3");
   var altura3 = prompt ("Altura da Pessoa 3");
   info(nome3,peso3,altura3);

</script>

