<meta charset="UTF-8">
<h1> MÉDIA IMC COM IF </h1>
<script>

   function separa_linha() {
	    document.write ("<hr>");
   }

   function escreve(texto) {
	    document.write (texto);
	    separa_linha ();
   }

   function calculaIMC(peso,altura) {
	    var imc=peso/(altura*altura);
	    return imc;
   }

   var peso1= parseFloat (prompt ("Peso da Pessoa 1").replace(",","."));
   var altura1= parseFloat (prompt ("Altura da Pessoa 1").replace(",","."));
   var imc1 = calculaIMC(peso1, altura1);
   escreve("<b> O IMC1 é: </b>" + imc1.toFixed(2));
   if (imc1 > 35) {
     escreve ("Acima do peso");
   } else if (imc1 < 18.5) {
        escreve ("Abaixo do peso");
     } else {
          escreve ("Dentro do peso");
       }

   var peso2 = parseFloat (prompt ("Peso da Pessoa 2").replace(",","."));
   var altura2 = parseFloat (prompt ("Altura da Pessoa 2").replace(",","."));
   var imc2 = calculaIMC(peso2, altura2);
   escreve("<b>O IMC2 é:  </b>" + imc2.toFixed(2));
   if (imc2 > 35) {
     escreve ("Acima do peso");
   } else if (imc2 < 18.5) {
     escreve ("Abaixo do peso");
     } else {
          escreve ("Dentro do peso");
       }

   var peso3 = parseFloat (prompt ("Peso da Pessoa 3").replace(",","."));
   var altura3 = parseFloat (prompt ("Altura da Pessoa 3").replace(",","."));
   var imc3 = calculaIMC(peso3, altura3);
   escreve("<b> O IMC3 é: </b>" + imc3.toFixed(2));
   if (imc3 > 35) {
     escreve ("Acima do peso");
   } else if (imc3 < 18.5) {
     escreve ("Abaixo do peso");
     } else {
          escreve ("Dentro do peso");
       }

   var media=(imc1+imc2+imc3)/3;

   escreve("<b>A média dos IMCs é: </b>"+ media.toFixed(2));

</script>
