<meta charset="UTF-8">
<h1> Loteria </h1>
<script>

	function separa_linha() {
		document.write("<br>");
	}

	function escreve(texto) {
		document.write(texto);
		separa_linha()
	}

	function sorteia(escondido) {
		var nEscondido = Math.round((Math.random()) * escondido);
		console.log(nEscondido);
		return nEscondido;
	}
		
	var pensado = sorteia(50);
	var chute = parseInt (prompt ("Escolha um número de 0 a 50"));
	if (isNaN(chute) === true) {
		alert ("Serão aceitos somente numeros.Jogue novamente.");
	} else if (pensado == chute) {
		escreve("Você acertou");
	  } else if (pensado > chute) {
		escreve("Você errou. O numero chutado foi menor que o numero sorteado");
	    } else {
		escreve("Você errou. O numero chutado foi maior que o numero sorteado");
	      } 
	
	
</script>
