<meta charset="UTF-8">
<h1> Loteria </h1>
<script>

	function separa_linha() {
		document.write("<br>");
	}

	function escreve(texto) {
		document.write(texto);
		separa_linha()
	}

	function sorteia(escondido) {
		var nEscondido = Math.round((Math.random()) * escondido);
		console.log(nEscondido);
		return nEscondido;
	}
		
	var pensado = sorteia(10);
	var chute = parseInt (prompt ("Escolha um número de 0 a 10"));

	while (isNaN(chute)) {
		chute = parseInt (prompt ("Serão aceitos somente numeros.Escolha um número de 0 a 10"));
	}

	while (pensado != chute) {
		pensado = sorteia(10)
		chute = parseInt (prompt ("Insira um novo número de 0 a 10, até acertar."));
	}

	escreve ("Parabéns, você acertou!");
		 
	
	
</script>
