<meta charset="UTF-8">
<h1> Loteria </h1>
<script>

	function separa_linha() {
		document.write("<br>");
	}

	function escreve(texto) {
		document.write(texto);
		separa_linha()
	}

	function sorteia(escondido) {
		var nEscondido = Math.round((Math.random()) * escondido);
		console.log(nEscondido);
		return nEscondido;
	}

	function pegaN () {
		return chutado = parseInt (prompt ("Insira um novo número de 0 a 10"));
		while (isNaN(chute)) {
		   chute = parseInt (prompt ("Serão aceitos somente numeros."));
	        }
	}
		
	var pensado = sorteia(10);
	contador = 0;

	while (contador < 3) {
	    var chute = pegaN();
	    if (chute == pensado) {
	       escreve ("Parabéns! Você ganhou!");
	    break;
	    }
	    contador = contador + 1;
	}

	if (chute != pensado) {
	   escreve ("Você perdeu!");
	}

</script>
