<meta charset="UTF-8">
<h1> Cálculo Idade </h1>
<script>
	function separa_linha() {
		document.write("<br>");
	}

	function escreve(texto) {
		document.write(texto);
	}
	
	var nPessoas = parseInt (prompt ("Digite a quantidade de pessoas: "));
	var soma = 0;

	for (var contador = 0; contador < nPessoas; contador++) {
		var idade = parseInt (prompt ("Digite a idade da pessoa que deseja incluir no cálculo: "));	
		soma = soma + idade;
	}

	escreve ("A soma total das idades informadas, é: " + soma);
	separa_linha();
	escreve ("A média das idades é: " + (soma/nPessoas).toFixed(2));

</script>
