<meta charset="UTF-8">
<h1> Cálculo Idade </h1>
<script>
	function separa_linha() {
		document.write("<br>");
	}

	function escreve(variavel) {
		document.write(variavel);
	}

	
	var nPessoas = parseInt (prompt ("Digite a quantidade de pessoas: "));
	var contador = 0;
	var soma = 0;

	while (contador < nPessoas) {
		var idade = parseInt (prompt ("Digite a idade da pessoa que deseja incluir no cálculo: "));	
		soma = soma + idade;
		contador = contador + 1;	
	}

	escreve ("A soma total das idades informadas, é: " + soma);
	separa_linha();
	escreve ("A média das idades é: " + (soma/nPessoas).toFixed(2));

</script>
