<meta charset="UTF-8">
<h1> Tabuada </h1>
<script>

	function separa_linha() {
		document.write("<br>");
	}

	function escreve(texto) {
		document.write(texto);
		separa_linha()
	}
	
	var nTabuada = parseInt (prompt ("Digite o número da Tabuada que deseja calcular"));
	var resultado = nTabuada * incremento;
			
	for (var incremento = 10; incremento >= 0; incremento -1) {
	    escreve (nTabuada + " * " + incremento + " = " + resultado);
	}
	
</script>
