<meta charset="UTF-8">
<h1> Tabuada </h1>
<script>

	function separa_linha() {
		document.write("<br>");
	}

	function escreve(texto) {
		document.write(texto);
		separa_linha()
	}
	
	var nTabuada = parseInt (prompt ("Digite o número da Tabuada que deseja calcular"));
	var incremento = -1;
	var resultado = nTabuada * incremento;
			
	while (incremento < 10 ) {
	    incremento = incremento + 1;
	    resultado = nTabuada * incremento;
	    escreve (nTabuada + " * " + incremento + " = " + resultado);
	}
	
</script>
