<meta charset="utf-8">
<title>Capital</title>
<script type="text/javascript">

  function separa_linha() {
    document.write("<br>");
  }

  function escreve(texto) {
    document.write(texto);
    separa_linha()
  }

  var capital=prompt("Digite o nome da capital do Brasil:");

  if (capital=="brasília"||capital=="BRASÍLIA") {
          escreve("Parabéns!");
      } else {
           if(capital=="brasilia"||capital=="Brazilia"||capital=="brazilia"||
           capital=="brasília"||capital=="Brazília"||capital=="BRASILIA"||
           capital=="BRAZILIA"||capital=="BRAZÍLIA"||capital=="brazília"){
              escreve("Você está certo, mas atenção para a grafia: Brasília.")
           } else {
              escreve("Resposta errada.");
           }
      }
</script>
