<meta charset="utf-8">
<title>Naturalidade</title>
<script type="text/javascript">
/*Pedir para o usuário digitar a sigla de seu estado e imprimir sua naturalidade:
carioca; paulista; mineiro; gaúcho; paranaense*/
  function separa_linha() {
    document.write("<br>");
  }

  function escreve(texto) {
    document.write(texto);
    separa_linha()
  }

  var uf=prompt("Digite o UF do seu estado: (dois digitos)");

  if (uf=="rj"||uf=="RJ"){
    escreve("Você é carioca.")
  } else if (uf=="sp"||uf=="SP") {
    escreve("Você é paulista")
  } else if (uf=="mg"||uf=="MG") {
    escreve("Você é mineiro.")
  } else if (uf=="rs"||uf=="RS") {
    escreve("Você é gaúcho.")
  } else if (uf=="pr"||uf=="PR") {
    escreve("Você é paranaense.")
  } else if (uf=="ac"||uf=="AC"){
    escreve("Você é acriano.")
  } else if (uf=="al"||uf=="AL"){
      escreve("Você é alagoano.")
  } else if (uf=="ap"||uf=="AP"){
      escreve("Você é amapaense.")
  } else if (uf=="am"||uf=="AM"){
      escreve("Você é amazonense.")
  } else if (uf=="ba"||uf=="BA") {
    escreve("Você é baiano.")
  } else if (uf=="ce"||uf=="CE") {
    escreve("Você é cearense.")
  } else if (uf=="df"||uf=="DF") {
    escreve("Você é brasiliense.")
  } else if (uf=="es"||uf=="ES") {
    escreve("Você é capixaba.")
  } else if (uf=="go"||uf=="GO"){
      escreve("Você é goiano.")
  } else if (uf=="ma"||uf=="MA"){
      escreve("Você é maranhense.")
  } else if (uf=="mt"||uf=="MT") {
    escreve("Você é mato-grossense.")
  } else if (uf=="ms"||uf=="MS") {
    escreve("Você é sul-mato-grossense.")
  } else if (uf=="pa"||uf=="PA") {
    escreve("Você é paraense.")
  } else if (uf=="pb"||uf=="PB") {
    escreve("Você é paraibano.")
  } else if (uf=="pe"||uf=="PE"){
      escreve("Você é pernambucano.")
  } else if (uf=="pi"||uf=="PI"){
      escreve("Você é piauiense.")
  } else if (uf=="rn"||uf=="RN") {
    escreve("Você é potiguar.")
  } else if (uf=="ro"||uf=="RO") {
    escreve("Você é rondoniense.")
  } else if (uf=="rr"||uf=="RR") {
    escreve("Você é roraimense.")
  } else if (uf=="se"||uf=="SE") {
    escreve("Você é sergipano.")
  } else if (uf=="sc"||uf=="SC") {
    escreve("Você é catarinense.")
  } else if (uf=="to"||uf=="TO") {
    escreve("Você é tocantinense.")
  } else {
    escreve("Formato inválido.");
  }
</script>
