<meta charset="utf-8">
<title>nmaior</title>
<script type="text/javascript">

//Pedir para o usuário entrar com 5 números e imprimir o maior na tela.
  function separa_linha() {
    document.write("<br>");
  }

  function escreve(texto) {
    document.write(texto);
    separa_linha()
  }

  var n1 = parseInt (prompt ("Digite o primeiro número: "));
	var n2 = parseInt (prompt ("Digite o segundo número: "));
	var n3 = parseInt (prompt ("Digite o terceiro número: "));
	var n4 = parseInt (prompt ("Digite o quarto número: "));
	var n5 = parseInt (prompt ("Digite o quinto número: "));

  var max = Math.max(n1, n2, n3, n4, n5);
  escreve("O maior numero é: " + max);

</script>
