<hmtl>
	<head>
		<meta charset="utf-8">
		<style>
			#message {
				color: red;
				font-weight: bold;
			}
		</style>
		<script>
		
			function validar(){
				var valor=document.getElementById("cpf").value;
				var cpfvalido=false; 
				if(cpfvalido == false){
					document.getElementById("message").innerHTML="O CPF é inválido!";
				}
			}
		

		</script>
	</head>
	<body>
	
		CPF:
		<input type="text" id="cpf">
		<input type="button" value="Validar" onclick="validar()">
		<br>
		<span id="message">
		</span>

	</body>
</hmtl>
